resources:
  - ../../base
  - service.yaml
  - ingress.yaml
  - hpa.yaml
#  - cronjob.yaml

patchesStrategicMerge:
  - deployment_patch.yaml

commonLabels:
  app: entity-management-api

secretGenerator:
  - name: ibm-secret
    files:
      - ibm-databases-truststore.jks

configMapGenerator:
#  - name: entity-management-batch-config
#    files:
#      - entitymanagement.user.properties
  - name: ibm-secret-config-map
    files:
      - ibm-databases-truststore.jks