target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

**/*.user.properties
**/*.jks

.DS_Store

# Zoho sdk log files
SDKLogs.log*

# Zoho Token files
token_store.txt
zoho_import.properties

#log files
**/*.log

##local backups of text files 
**/*.bk