version: "3.9"

# To start mongo, solr and nginx-proxy, run: docker-compose up -d
# Then use the following settings in entitymanagement.user.properties
#
#  ###############
#  mongo.connectionUrl = mongodb://admin-user:admin-password@localhost:27017
#  mongo.em.database = entity-management
#  mongo.batch.database = job-repository
#
#  mongo.enrichment.connectionUrl = mongodb://admin-user:admin-password@localhost:27017
#  mongo.enrichment.database = enrichment
#
#  entitymanagement.solr.indexing.url=http://localhost:8983/entity-management
#  ###############
#
# Configure the following to cache Metis responses
#
# ##############
# metis.proxy.enabled = true
# metis.proxy.url = http://localhost:8081
# ##############
#
#
#  To stop afterwards, run: docker-compose down

services:
  db:
    build:
      context: ./entity-management-web/src/integration-test/resources/mongo-docker
      dockerfile: Dockerfile
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin-user
      - MONGO_INITDB_ROOT_PASSWORD=admin-password
      - MONGO_INITDB_DATABASE=admin
      # Databases for EM, Spring Batch and Enrichment
      - EM_APP_DB=entity-management
      - EM_BATCH_DB=job-repository
      - ENRICHMENT_DB=enrichment

  solr:
    build:
      context: ./entity-management-web/src/integration-test/resources/solr-docker
      dockerfile: Dockerfile
    container_name: solr
    ports:
    - 8983:8983
    environment:
    - EM_INDEXING_CORE=entity-management

  proxy:
    build:
      context: ./misc/nginx-proxy
      dockerfile: Dockerfile
    container_name: nginx-proxy
    ports:
      - 8081:80
    volumes:
      # see proxy_cache_path in nginx.conf
      - $HOME/.nginx/entity-management-proxy/cache:/var/cache/nginx