# mongodb
mongo.connectionUrl = mongodb://<host>:<port>
mongo.em.database = <entity-management-db>
mongo.batch.database = <spring-batch-db>

# when the "dev" profile is active, these set whether the database should be cleared on startup
mongo.batch.database.reset=false
mongo.em.database.reset=false