
resources:
#  - ../../base
  - cronjob.yaml

#patchesStrategicMerge:
#  - deployment_patch.yaml

commonLabels:
  app: entity-management-cronjob
#  app: entity-management-api

secretGenerator:
  - name: entity-management-api-properties
    files:
      - entitymanagement.user.properties
  - name: zoho-import-properties
    files:
      - zoho_import.properties
  - name: ibm-secret
    files:
      - ibm-databases-truststore.jks

configMapGenerator:
  - name: log4j2-properties
    files:
      - log4j2.xml
